@font-face {
    font-family: 'OpenSans';
    src:  url('../assets/fonts/OpenSans-Regular.ttf') format('ttf'),
        url('../assets/fonts/OpenSans-Regular.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

body {
    font-family: 'OpenSans';
    margin: 0;
}

h1 {
    color: blue;
    display: inline-block;
    position: relative;
}   
h1:after {
    background-image: url('../assets/icons/h1.svg');
    background-repeat: no-repeat;
    content: '';
    height: 20px;
    right: -20px;
    position: absolute;
    top: 0;
    width: 20px;
}

img {
    max-width: 100px;
}
